<div class = "home-content">
  <%= stylesheet_link_tag "mycss/userArticle.css" , :media => "all"%>
  <% if logged_in? %>
    <%= stylesheet_link_tag "mycss/user.css" , :media => "all"%>
    <%= stylesheet_link_tag "mycss/home.css" , :media => "all"%>
    <%= render 'users/user_info' %>
  <% else %>
      <link rel="stylesheet" href="logIn.css">
      <%= stylesheet_link_tag "mycss/logIn.css" , :media => "all"%>
      <%= stylesheet_link_tag "mycss/homeNotLogin.css" , :media => "all"%>
      <%= render 'users/user_login' %>
  <% end %>
  <div class = "article-content">
    <% @news.each do |new| %>
      <%= render partial: 'news/news', locals: { new: new } %>
    <% end %>
  </div>
  <div class = "clear" > </div>
        <div id = "top-btn">
        <i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i>
      </div>
      
    <script src="pageTop.js"></script>
</div>