<div class = "home-content">
  <%= stylesheet_link_tag "mycss/userArticle.css" , :media => "all"%>
  <% if logged_in? %>
    <%= stylesheet_link_tag "mycss/user.css" , :media => "all"%>
    <%= stylesheet_link_tag "mycss/home.css" , :media => "all"%>
    <div class = "user-content">
      <h2><i class="fa fa-user-o" aria-hidden="true"></i><%= current_user.name %></h2>
      <div class = "user-infos">
        <div class = "user-info">メンション<br>xxxx(数)</div>
        <div class = "user-info">フォロー<br>xxx</div>
        <div class = "user-info">フォロワー<br>xxxx</div>
        <div class = "clear"> </div>
      </div>
    </div>

  <% else %>
      <link rel="stylesheet" href="logIn.css">
      <%= stylesheet_link_tag "mycss/logIn.css" , :media => "all"%>
      <%= stylesheet_link_tag "mycss/homeNotLogin.css" , :media => "all"%>
        <div class = "home-left">
          <div class = "user-content">
              <%= form_for(:session, url: login_path, :html => {:class => "form-content"}) do |f| %>
                <div class = "form-group">
                  <!--E-mail icon-->
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control', :placeholder => "Email" %>
                </div>
                <div class="form-group">
                  <!--Key icon-->
                  <i class="fa fa-key" aria-hidden="true"></i>
                  <%= f.label :password,"Password" %>
                  <%= f.password_field :password, class: 'form-control' , :placeholder => "Password" %>
                </div>
                <%= f.submit "ログイン", class: "btn btn-default", id: "btn-margin" %>
              <% end %>
          </div>
          <div class = "signUpLink">
            <%= link_to signup_path do%>
              <i class="fa fa-user-o" aria-hidden="true"></i>Sign up now!
            <% end %>
          </div>
        </div>
  <% end %>
  

  <div class = "article-content">
    <div class = "articles">
      <!--ユーザページの1メンション-->
      <div class="userArticle">
        <!--以下個別記事-->
        <div class ="article">
          <div class = "article-name"><%= @news[1].title %></div>
          <div class = "article-date">yyyy.mm.dd</div>
          <div class = "article-right">
            <div class = "article-mention">
              <i class="fa fa-comment-o" aria-hidden="true"></i>
              menxxxxx</div>
            <div class = "article-rt">
              <i class="fa fa-retweet" aria-hidden="true"></i>
              rtxxx</div>
          </div>
        </div>
        <!--以下ユーザ反応-->
        <div class ="mention">
          <div class = "userName">ユーザ名</div>
          <div class = "mention-info">スナネコ©かわいいよぉぉぉぉ！ああああああああああああああああああああああ</div>
          <div class = "mention-bot">
            <div class = "sorena">m9 xxx</div>
            <div class = "mention-date">hh時間前</div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class = "clear" > </div>
</div>