<%= stylesheet_link_tag "mycss/news.css" , :media => "all"%>
<%= stylesheet_link_tag "mycss/newsName.css" , :media => "all"%>

<div class = "news-name">
    <a href= "<%= @news.link %>" target=”_blank”>
      <div class ="news-color"><%= @news.title %>  <small>クリックで元記事へ</small></div>
    </a>
</div>
<% if logged_in? %>
    <%= stylesheet_link_tag "mycss/user.css" , :media => "all"%>
    <%= stylesheet_link_tag "mycss/newspage.css" , :media => "all"%>
    <%= stylesheet_link_tag "mycss/addMention.css" , :media => "all"%>
    <div class = "home-content">
    <%= render 'users/user_info' %>
      <div class = "news-right">
      
        <div class = "article-content">
          <div class = "articles">
            <!--以下個別記事 forで回す？-->
            
            
              <% (0..@user.count-1).each do |i| %>
                <div class ="mention">
                  <div class = "userName"><%= @user[i].name %></div>
                  <div class = "mention-info"><%= @mention[i].content %></div>
                  <div class = "mention-bot">
                  <a class="sorena-btn" href="#">
                    <div class = "sorena"><i class="fa fa-hand-o-right" aria-hidden="true"></i>それな！</div>
                  </a>
                <div class = "mention-date"><%= @mention[i].created_at.strftime("%H:%M:%S") %></div>
                  </div>
                </div>
              <% end %>
          </div>
        </div>







        <div class = "addMention">
          <!--form_for(url: mentioncreate_path, :html => {:class => "form-content"})-->
    
    
    
    <%= form_for(@mention_current_user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_area :content, class: 'input-mention', placeholder: "記事への反応をMention!" %>
        <%= f.text_area :news_id, class: 'input-display' %>
        <%= f.submit "Post", class: "btn btn-primary"  %>
    <% end %>








      </div>

      <div id = "top-btn">
        <i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i>
      </div>

      
    <div class = "clear" > </div>
      
    </div>

<% else %>


    <%= stylesheet_link_tag "mycss/logIn.css" , :media => "all"%>
    <%= stylesheet_link_tag "mycss/newspageNotLogin.css" , :media => "all"%>
    
    <div class = "home-content">
      <%= render 'users/user_login' %>
      <div class = "news-right">
        <div class = "article-content">
          <div class = "articles">
            <!--以下個別記事 forで回す？-->
              <% (0..@user.count-1).each do |i| %>
                <div class ="mention">
                  <div class = "userName"><%= @user[i].name %></div>
                  <div class = "mention-info"><%= @mention[i].content %></div>
                  <div class = "mention-bot">
                    <a class="sorena-btn" href="#">
                      <div class = "sorena"><i class="fa fa-hand-o-right" aria-hidden="true"></i>それな！</div>
                    </a>
                    <div class = "mention-date"><%= @mention[i].created_at.in_time_zone('Tokyo').strftime("%H:%M:%S") %></div>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      
      </div>

      
      <div id = "top-btn">
        <i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true"></i>
      </div>

      
    <div class = "clear" > </div>
      
    </div>


<% end %>
<!--pageTop.js-->
<!--<script src="pageTop.js"></script>-->